@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body {
    font-family: Open Sans,"sans-serif";
    margin: 0;
    padding: 0;
    background: #F1F1F1;
}
nav.admin {
    background: #23282d none repeat scroll 0 0;
    height: 32px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav.admin a, .sidebar-menu-item a {
    color: #eee;
    font-size: 14px;
    text-decoration: none;
}

.navbar .btn.btn-default {
    background: none repeat scroll 0 0 #ddddab;
    color: #000 !important;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 7px;
}

@font-face {
    font-family: dashicons;
    src: url(../fonts/dashicons.ttf) format("truetype"), url(../fonts/dashicons.svg) format("svg");
}

.dashicons {
    color:rgba(240, 245, 250, 0.6);
    font-family:dashicons;
}

.back-to-site {
    float: left;
    margin-left: 26px;
    position: relative;
    top: -2px;
}


.back-to-site::before {
    color: rgba(240, 245, 250, 0.6);
    content: "";
    font-family: dashicons;
    font-size: 21px;
    left: -6px;
    position: relative;
    top: 4px;
}

.wp-laravel-icon::before {
    content: "";
    font-size: 20px;
    top: 3px;
    position: relative;
    float: left;
    margin-left: 7px;
}

.admin-logout {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}

.container {
    margin-left: 160px;
    margin-top: 32px;
}
.admin-sidebar {
    background: #23282d none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 160px;
}
.menu-image::before{
    padding: 7px;
    color: rgba(240, 245, 250, 0.6);
    font-family:dashicons;
    font-size:18px;
}
.posts .menu-image:before {
    content: "\f109";

}

.menu-image {
    float: left;
    margin-left: 3px;
    margin-right: 5px;
}

.sidebar-menu-item.posts {
    float: left;
    min-height: 31px;
    padding-top: 10px;
    width: 100%;
}